<div class="" style="border: 1px solid; background-color: #333;">
    <div class="container">
        <div class="row">
            <div class="col-4 p-5">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <h3 style="color: white;">Về <span style="color: blueviolet;">QuangNguyen</span>
                            </h3>
                        </div>
                        <div class="col-12">
                            <div class="navbar" style="color: white;">
                                Hệ thống mua bán nhanh gọn, uy tín.
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="" class="nav-link" style="color: white;">GIỚI THIỆU</a>
                            <div class="" style="background-color: white; height: 1px; width: 100%;"></div>
                            <a href="" class="nav-link" style="color: white;">ĐIỀU KHOẢN</a>
                            <div class="" style="background-color: white; height: 1px; width: 100%;"></div>
                            <a href="" class="nav-link" style="color: white;">UY TÍN CỦA SHOP</a>
                            <div class="" style="background-color: white; height: 1px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 p-5">
                <div class="row">
                    <div class="col-12">
                        <h3 style="color: white;">CHI TIẾT LIÊN HỆ</h3>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn border-dark" style="background-color: #333;">
                            <i class="fa-brands fa-facebook"></i>
                        </button>
                        <button class="btn border-dark ms-4" style="background-color: #333;">
                            <i class="fa-brands fa-youtube"></i>
                        </button>
                    </div>
                    <div class="col-12 mt-2" style="color: white;">
                        Hotline : <br>
                        Gmail : <br>
                        Made by <span style="color: orange;">KienNguyen</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>