<div class="row">
    <div class="col-12" style="display: block;">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between"
                    id="navbarSupportedContent">
                    <div class="nav">
                        <a href="#!admin" class="navbar-brand" id="admin"></a>
                    </div>
                    <div class="nav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-2">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#!trang-chu">
                                    <h6>Trang chủ</h6>
                                </a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-link" href="#">
                                    <h6>Nạp tiền</h6>
                                </a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
                                    <h6>Dịch vụ</h6>
                                </a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-link" href="#">
                                    <h6>Skin</h6>
                                </a>
                            </li>
                        </ul>
                        <button class="btn border border-info rounded-pill ms-3">
                            <a href="#!login" id="ab" class="nav-link"><i class="fa-solid fa-user"></i>
                                Đăng nhập</a>
                        </button>
                        <button class="btn border border-info rounded-pill ms-3" style="margin-left: 10px;">
                        <a href="" class="nav-link"><i class="fa-solid fa-key"></i>
                            Đăng ký</a>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>