<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Nhúng Bootstrap -->
    <link rel="stylesheet" href="../lib/bootstrap.css">
    <script src="../lib/bootstrap.js"></script>

    <!-- Nhúng Font Icon -->
    <script src="../lib/font-fontawesome-ae333ffef2.js"></script>

    <!-- Nhúng AngularJS -->
    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-route.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="margin-top: 120px;">
                <div class="col-12 text-center mt-5">
                    <h4>
                        <p class="" style="color: orangered;">PHAI PHAI</p>
                    </h4>
                    <div class=""
                        style="height: 5px; width: 75px; background-color: blueviolet; border-radius: 10px; margin: 0 auto;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-5">
                        <h4>THÔNG TIN SÚNG</h4>
                    </div>
                    <div class="col-12 text-center fw-light">Để xem chi tiết về súng vui lòng kéo xuống dưới.</div>
                    <div class="col-6">
                        <div class="row mt-4">
                            <div class="col-6 fw-bold text-end">
                                <h4 style="color: green;">ATM/ VÍ:</h4>
                            </div>
                            <div class="col-6 fw-bold">
                                <h4 style="color: red;">{{ct.atm}}</h4>
                            </div>
                            <div class="col-6 fw-bold text-end mt-4">
                                <h4 style="color: green;">TIỀN CARD:</h4>
                            </div>
                            <div class="col-6 fw-bold mt-4">
                                <h4 style="color: red;">{{ct.card}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mt-4">
                            <div class="col-6 text-end"><button data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    class="btn btn-success" style="width: 50%;">MUA
                                    NGAY</button></div>
                            <div class="col-6"><button class="btn btn-success" style="width: 50%;">NẠP THẺ</button>
                            </div>
                            <div class="col-6 mt-3 text-end"><button class="btn btn-success" style="width: 50%;">ATM/
                                    VÍ</button></div>
                        </div>
                    </div>
                </div>
                <hr class="mt-2">
                <div class="row mt-4 text-center">
                    <h6>Hình ảnh chi tiết của súng</h6>

                    <img ng-repeat="ab in ctt track by $index" src="{{ab}}" style="width: 100%; height: 500px;" alt=""
                        class="img-thumbnail ms-2 mt-2">
                </div>
            </div>

        </div>


        <!-- Modal -->
        <div class="modal fade" style="margin-top: 200px;" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="">Nhập ID Game của bạn !</label> <br>
                        <input type="text" class="form-control" ng-model="hd.idgame" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ĐÓNG</button>
                        <button type="button" class="btn btn-primary" ng-click="mua()">MUA</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>