<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Nhúng Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap.css">
    <script src="/lib/bootstrap.js"></script>

    <!-- Nhúng Font Icon -->
    <script src="/lib/font-fontawesome-ae333ffef2.js"></script>

    <!-- Nhúng AngularJS -->
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="controller/fill.js"></script>
    <script src=""></script>
    <style>
        .a th {
            line-height: 150px;
        }

        .a td {
            line-height: 150px;
        }
    </style>
</head>

<body ng-app="myApp">
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="margin-top: 120px;">
                <div class="col-12 text-center mt-5">
                    <h4>
                        <p class="fw-bold" style="color: red;">ĐƠN HÀNG</p>
                    </h4>
                    <div class=""
                        style="height: 5px; width: 75px; background-color: red; border-radius: 10px; margin: 0 auto;">
                    </div>
                </div>
            </div>
            <div class="row mt-5 text-center d-flex justify-content-center">
                <div class="col-2">
                    <a href="" class="nav-link"><button class="btn">
                            <h6>Lịch sử đơn hàng</h6>
                        </button></a>
                </div>
            </div>
            <div class="row mt-2">
                <table class="table table-bordered border-primary text-center mt-2">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên súng</th>
                            <th scope="col">Giá</th>
                            <th scope="col">ID khách hàng</th>
                            <th scope="col">ID game</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Tuỳ chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="a" ng-repeat="(index, value) in donhang">
                            <th class="" scope="row">{{value.id}}</th>
                            <td> {{value.tensung}}</td>
                            <td>{{value.gia}}</td>
                            <td>{{value.idkhachhang}}</td>
                            <td>{{value.idgame}}</td>
                            <td id="trangthai"><p id="tt" class="btn btn-success">{{value.trangthai}}</p></td>
                            <td class="">
                                <a href="" ng-click="delete(value.id, index)"><button class="btn" id="huy"><i class="fa-solid fa-trash"></i></button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>