<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Nhúng Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap.css">
    <script src="/lib/bootstrap.js"></script>

    <!-- Nhúng Font Icon -->
    <script src="/lib/font-fontawesome-ae333ffef2.js"></script>

    <!-- Nhúng AngularJS -->
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
    <style>
        input {
            width: 100%;
            text-indent: 10px;
            height: 40px;
        }
        #log{
            width: 400px; margin: 0 auto;
            filter: drop-shadow(10px 7px 5px rgb(171, 148, 148));
            margin-top: 200px;
            
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card p-5 text-center" id="log" style="margin-bottom: 200px;">
            <div class="card-body">
                <input type="text" ng-model="user.taikhoan" name="" id="" placeholder="Tài khoản" required> <br>
                <input type="text" ng-model="user.matkhau" name="" id="" class="mt-3" placeholder="Mật khẩu" required> <br>
                <a href="" ng-click="login()" class="btn btn-primary mt-3">Đăng nhập</a>
            </div>
        </div>
    </div>


    
</body>

</html>