<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Nhúng Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap.css">
    <script src="/lib/bootstrap.js"></script>

    <!-- Nhúng Font Icon -->
    <script src="/lib/font-fontawesome-ae333ffef2.js"></script>

    <!-- Nhúng AngularJS -->
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="margin-top: 120px;">
                <div class="col-12 text-center mt-5">
                    <h4>
                        <p class="fw-bold" style="color: red;">QUẢN LÝ TRANG WEB</p>
                    </h4>
                    <div class=""
                        style="height: 5px; width: 75px; background-color: red; border-radius: 10px; margin: 0 auto;">
                    </div>
                </div>
            </div>
            <div class="row mt-5 text-center d-flex justify-content-center">
                <div class="col-2 border-end">
                    <a href="#!qlsp" class="nav-link"><button class="btn">
                            <h6>Quản lý sản phẩm</h6>
                        </button></a>
                </div>
                <div class="col-2 border-end">
                    <a href="#!qlnd" class="nav-link"><button class="btn">
                            <h6>Quản lý người dùng</h6>
                        </button></a>
                </div>
                <div class="col-2">
                    <a href="#!hd" class="nav-link"><button class="btn">
                            <h6>Quản lý hoá đơn</h6>
                        </button></a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="row d-flex d-flex flex-row-reverse">
                    <div class="col-1"><a href="#!add"><button class="btn btn-success" style="width: 100%;">New</button></a></div>
                </div>
                <table class="table table-bordered border-primary text-center mt-2">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên người dùng</th>
                            <th scope="col">Tài khoản</th>
                            <th scope="col">Mật khẩu</th>
                            <th scope="col">Chức vụ</th>
                            <th scope="col">Tuỳ chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(index, value) in ds">
                            <th scope="row">{{value.id}}</th>
                            <td>{{value.ten}}</td>
                            <td>{{value.taikhoan}}</td>
                            <td>{{value.matkhau}}</td>
                            <td>{{value.chucvu}}</td>
                            <td class="">
                                <button ng-click="delete(value.id)" class="btn"><i class="fa-solid fa-trash"></i></button>
                                <a href="#!update/{{value.id}}"><button class="btn"><i
                                            class="fa-solid fa-pen-to-square"></i></button></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
</body>

</html>