<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Nhúng Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap.css">
    <script src="/lib/bootstrap.js"></script>

    <!-- Nhúng Font Icon -->
    <script src="/lib/font-fontawesome-ae333ffef2.js"></script>

    <!-- Nhúng AngularJS -->
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row" style="margin-top: 120px;">
                <div class="col-12 text-center">
                    <h4>
                        <p class="fw-bold">MENU GIAO DỊCH</p>
                    </h4>
                    <div class=""
                        style="height: 5px; width: 75px; background-color: red; border-radius: 10px; margin: 0 auto;">
                    </div>
                </div>
                <div class="col-3 p-5 text-center">
                    <a href=""><img src="https://acc957.com/Img/NapThe.png" ng-click="show()" style="width: 100%;" class="rounded-3"
                            alt="..."></a>
                    <h6 class="a mt-2 fw-bold">Nạp thẻ</h6>
                </div>
                <div class="col-3 p-5 text-center">
                    <a href="#!trang-nguoi-dung/{{value.idkhachhang}}"><img src="https://acc957.com/Img/TaiKhoan.png" style="width: 100%;" class="rounded-3"
                            alt="..."></a>
                    <h6 class="a mt-2 fw-bold">Tài khoản</h6>
                </div>
                <div class="col-3 p-5 text-center">
                    <a href=""><img src="https://cdn.oneesports.vn/cdn-data/sites/4/2022/07/freefire-thumb-62c7accf28d99.jpg" style="width: 100%; height: 233px;" class="rounded-3"
                            alt="..."></a>
                    <h6 class="a mt-2 fw-bold">Dịch vụ</h6>
                </div>
                <div class="col-3 p-5 text-center">
                    <a href="#"><img src="https://acc957.com/Img/NickRandom.png" style="width: 100%;" class="rounded-3"
                            alt="..."></a>
                    <h6 class="a mt-2 fw-bold">Vòng quay</h6>
                </div>
                <div class="col-12 text-center mt-5">
                    <h4>
                        <p class="fw-bold">DANH MỤC GAME</p>
                    </h4>
                    <div class=""
                        style="height: 5px; width: 75px; background-color: red; border-radius: 10px; margin: 0 auto;">
                    </div>
                </div>
                <div class="col-4 p-5">
                    <div class="card" style="width: 100%;padding: 2px;">
                        <img src="https://i.ytimg.com/vi/pXN8c9IK59A/maxresdefault.jpg" style="width: 100%; height: 200px;" class="rounded"
                            alt="...">
                        <div class="card-body text-center">
                            <h5 class="fw-bold">SKIN SÚNG NÂNG CẤP</h5>
                            <div class="a d-flex flex-column">
                                <p>Số skin súng : 69</p>
                                <p>Đã bán : 96</p>
                            </div>
                            <a href="#!san-pham"><button class="btn rounded border-info" style="width: 200px;">Xem
                                    thêm</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-4 p-5">
                    <div class="card" style="width: 100%;padding: 2px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ424-WIjfuNaKo8uxFuhHoRujetFJyhgfSqQ&usqp=CAU" style="width: 100%; height: 200px;" class="rounded"
                            alt="...">
                        <div class="card-body text-center">
                            <h5 class="fw-bold">SKIN SÚNG HUYỀN THOẠI</h5>
                            <div class="a d-flex flex-column">
                                <p>Số skin súng : 69</p>
                                <p>Đã bán : 96</p>
                            </div>
                            <a href=""><button class="btn rounded border-info" style="width: 200px;">Xem
                                    thêm</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-4 p-5">
                    <div class="card" style="width: 100%;padding: 2px;">
                        <img src="https://vtcpay.vn/blog/wp-content/uploads/2022/07/sung-Free-Fire-MAX-1.jpg" style="width: 100%; height: 200px;" class="rounded"
                            alt="...">
                        <div class="card-body text-center">
                            <h5 class="fw-bold">SKIN SÚNG THƯỜNG</h5>
                            <div class="a d-flex flex-column">
                                <p>Số skin súng : 69</p>
                                <p>Đã bán : 96</p>
                            </div>
                            <a href=""><button class="btn rounded border-info" style="width: 200px;">Xem
                                    thêm</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>